.advantages {
    min-height: 540px;
    padding: 21px 0 93px 0;
    background-color: #F6F6F6;
    &__title {
        margin-top: 50px;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
    }
    &__wrapper {
        margin-top: 40px;
    }
    &__icons {
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 300px;
        padding: 10px;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    &__text {
        text-align: center;
        font-weight: 700;
        margin-top: 25px;
        font-size: 25px;
    }
    &__descr {
        font-weight: 300;
        font-size: 18px;
        margin-top: 25px;
        text-align: center;
        span {
            color: $main-color;
            text-decoration: underline;
        }
    }
}